apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: {{ argocd_namespace }}
data:
  configManagementPlugins: |
{% if argocd_enable_envsubst_plugin %}
    - name: {{ argocd_envsubst_plugin_name }}
      generate:
        command: ["/bin/sh", "-lc"]
        args:
          - |
            if ! command -v envsubst >/dev/null 2>&1; then
              echo "envsubst not found in repo-server image"; exit 1;
            fi
            {{ argocd_envsubst_command }}
{% endif %}
{% if argocd_enable_lovely_plugin %}
{% if argocd_enable_envsubst_plugin %}

{% endif %}
    - name: {{ argocd_lovely_plugin_name }}
{% if argocd_lovely_plugin_init_command %}
      init:
        command: ["/bin/sh", "-lc"]
        args:
          - |
            {{ argocd_lovely_plugin_init_command }}
{% endif %}
      generate:
        command: ["/bin/sh", "-lc"]
        args:
          - |
            {{ argocd_lovely_plugin_generate_command }}
{% if argocd_lovely_plugin_discover_file_name %}
      discover:
        fileName: {{ argocd_lovely_plugin_discover_file_name }}
{% endif %}
{% endif %}
